<!DOCTYPE html>
<html>
<body>
  <% javascript_include_tag 'users' %>
  <fb:login-button scope="public_profile, email"
    onlogin="checkLoginState();"></fb:login-button>
  <div id="status"></div>
</body>
